body {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}

banner {
  height: 8em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #beedaa;
}

.logo {
  background: white;
  padding: 1em;
  border-radius: 20px;
  box-shadow: 3px 3px 10px gray;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form {
  padding: 10px 20px;
  background: #71a5d8;
  width: 33%;
  color: white;
  border-radius: 20px;
  margin: 30px;
  box-shadow: 3px 3px 10px lightgray;
}

.filters {
  max-height: 300px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 1;
}

.filters.hidden {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

input[type="search"] {
  border: none;
  margin: 0px 10px;
  padding: 10px;
  width: 70%;
  border-radius: 3px;
}

input[type="text"],
input[type="number"] {
  border: none;
  margin: 0px 10px;
  padding: 10px;
  border-radius: 3px;
}

.filters {
  padding: 10px 20px;
  background: #71a5d8;
  color: white;
  border-radius: 20px;
  margin: 30px;
  box-shadow: 3px 3px 10px lightgray;
  position: relative;
}

.continent p {
  display: inline;
}

.continent {
  margin: 20px 0px;
}

.population {
  margin: 20px 0px;
}

.language {
  margin: 20px 0px;
}

.close {
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 10px;
  cursor: pointer;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  display: flex;
  padding: 20px;
  width: 30%;
  box-shadow: 3px 3px 10px lightgray;
  border-radius: 20px;
  cursor: pointer;
}

.card img {
  width: 70%;
}

.card-img img {
  width: 100%;
}

.card-info {
  margin-left: 20px;
}

.card-info h1 {
  margin-top: 0;
  margin-bottom: 10px;
}

@media screen and (max-width: 1024px) {
  .search-form {
    display: flex;
  }
}

@media screen and (max-width: 720px) {
  .search-form {
    flex-direction: column;
    width: 70%;
    align-items: center;
  }
  input[type="search"] {
    margin: 10px;
    width: 100%;
  }
  .population {
    display: flex;
    flex-direction: column;
  }
  .card {
    margin: 20px;
  }
}
